.disk-usage {
	color: rgba(219, 219, 219, 0.5);
	font-weight: 100;
	font-size: 15px;
}

.disk-info {
	margin-left: 80px;
	margin-right: 80px;
	gap: 5px;
	display: grid;
	align-items: center;
	font-size: 24px;
	margin-bottom: 50px;
}

.disk-info>div {
	display: flex;
	align-items: center;
	gap: 10px;
}
.dashboard-disks-usage {
	height: 100%;
	overflow-y: auto;
}

@media screen and (max-width: 2015px) {
	.dashboard-disks-usage {
		width: 65%;
		margin: auto;
		height: 65%;
	}
}
