.dashboard-main {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 50px;
}

.dashboard-main>div {
	background-color: #262B49;
}

.dashboard-system h2 {
	margin-top: 15px;
	text-align: center;
	font-weight: 100;
}

.dashboard-cpu {
	text-align: center;
	background-color: #262B49;
	height: 250px;
}

.dashboard-cpu h2 {
	margin-top: 15px;
	text-align: center;
	font-weight: 100;
}

.dashboard-cpu-info {
	margin: 18px;
	height: 150px;
}

.dashboard-cpu .cpu-since {
	color: rgba(128, 128, 128, 0.212);
}

.dashboard-users {
	width: 500px;
	height: fit-content;
	max-height: 400px;
}

.dashboard-users-list {
	margin: 50px;
	font-size: 18px;
	overflow-y: auto;
	height: 300px;
}

.dashboard-users-list>div {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.dashboard-users-list div p {
	display: flex;
	font-size: 12px;
	align-items: center;
}

.dashboard-system {
	width: 100%;
	min-width: 500px;
	height: fit-content;
}

.tooltip {
	display: none;
	background-color: #6d6bcf;
	padding: 15px;
	position: absolute;
	border-radius: 25px;
	font-size: 14px;
}

.primary-conn:hover~.tooltip {
	display: block;
}

.dashboard-system h2 {
	text-align: center;
	font-size: 22px;
}

.system-info-label {
	display: flex;
	margin: 15px;
	list-style: none;
	flex-direction: column;
	padding: 0;
	font-size: 20px;
	justify-content: space-between;
}

.system-info-label li {
	padding-top: 10px;
	padding-bottom: 15px;
}

.system-info-label h5 {
	color: rgba(219, 219, 219, 0.5);
	font-weight: 100;
}

.system-info-label h6 {
	color: rgba(219, 219, 219, 0.5);
	font-weight: 100;
}

.dashboard-disks-pie {
	display: flex;
	flex-direction: column;
}

.dashboard-disks-pie>h2 {
	font-weight: 100;
	margin-top: 15px;
	text-align: center;
}

.dashboard-disks-pie .recharts-wrapper {
	margin: 0 auto;
}

.dashboard-disks-pie * {
	outline: none;
}

.disk-info {
	margin-left: 80px;
	margin-right: 80px;
	gap: 5px;
	display: grid;
	align-items: center;
	font-size: 24px;
	margin-bottom: 50px;
}

.disk-info>div {
	display: flex;
	align-items: center;
	gap: 10px;
}

.disk-usage {
	color: rgba(219, 219, 219, 0.5);
	font-weight: 100;
	font-size: 15px;
}

.no-data {
	font-size: 28px;
	text-align: center;
	color: red;
}

.dashboard-disks {
	display: flex;
	flex-direction: column;
}

.dashboard-pc {
	background-color: transparent !important;
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
}

.dashboard-net {
	background-color: #262B49;
	display: flex;
	flex-direction: column;
}

.dashboard-net h2 {
	margin-top: 15px;
	text-align: center;
	font-weight: 100;
}

.link-state {
	display: flex;
	gap: 5px;
	align-items: center;
}

.net-data {
	margin: 22px;
}

.net-data > h3{
	font-size: 28px;
	color: rgb(138, 137, 227);
	margin-bottom: 12px;
}

@media screen and (max-width: 2015px) {
	.dashboard-disks {
		grid-column: span 2;
		flex-direction: row;
	}

	.dashboard-disks-usage {
		width: 100%;
		margin-top: 50px;
	}
}

@media screen and (max-width: 1450px) {
	.dashboard-main {
		grid-template-columns: auto;
	}
}
