.dashboard-main {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 50px;
}

.dashboard-main>div {
	background-color: #262B49;
}

.no-data {
	font-size: 28px;
	text-align: center;
	color: red;
}

.dashboard-disks {
	display: flex;
	flex-direction: column;
}

.dashboard-pc {
	background-color: transparent !important;
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
}

@media screen and (max-width: 2015px) {
	.dashboard-disks {
		grid-column: span 2;
		flex-direction: row;
	}
}

@media screen and (max-width: 1450px) {
	.dashboard-main {
		grid-template-columns: auto;
	}
}
